<h1>About</h1>
	<p>
		Testing out an application inspired by Pinterest that is coded by me, <a href="http://facebook.com/snokstyle">Robin Nilsson</a> - in Ruby on Rails, using Gems such as Bootstrap, Devise, Simple Form and Paperclip. For deployment I use Heroku in conjunction with Git version control system. <br /> <br />
	</p>
	<p>
		This will serve as my first fun little pet project I will tinker with as I continue my journey into the world of Ruby on Rails and learn new stuff.
	</p>